/* 초기 세팅 */

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   width: 100%;
   height: 100vh;
   background-color: #121212;
}

@keyframes blink {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

a:visited {
   color: inherit;
}

/* font-family: "Noto Sans", sans-serif; */
/* font-family: "Noto Sans KR", sans-serif; */

/* 헤더 */

header {
   width: 100%;
   height: 4.5rem;
   position: fixed;
   top: 0;
   transition: 0.4s;
   z-index: 100;
   /* background-color: #121212; */
   /* box-shadow: 0 1px 30px hsla(0, 0%, 80%, 0.11); */
}

.het_header {
   width: 70%;
   height: 4.5rem;
   padding: 1.25rem 1.5rem;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}

.header_title>a {
   display: flex;
   color: rgba(255, 255, 255, 0.877);
   font-size: 20px;
   font-weight: 300;
   white-space: nowrap;
   margin-right: auto;
   font-family: "Noto Sans", sans-serif;
   text-decoration: none;
}

.header_title>a:hover {
   color: #00ff849c;
}

.header_menu {
   list-style: none;
   display: flex;
   align-items: center;
}

.header_menu>li>a {
   color: rgba(255, 255, 255, 0.705);
   text-decoration: none;
   padding: 1.5rem;
   white-space: nowrap;
   font-size: 15px;
   font-family: "Noto Sans", sans-serif;
   font-weight: 300;
}

.header_menu>li>a:hover {
   color: #00ff849c;
}

.progress-bar {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 1px;
   background: #00ff849c;
   width: 0%;
}

/* 메인 */

main {
   /* padding-top: 4.5rem; */
   background-color: #121212;
   position: relative;
}

.het_main {
   width: 100%;
   height: 100vh;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
   background-image: url(./img/introBack.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   z-index: 1;
   box-shadow: inset 0px 30px 50px #121212;
   background-attachment: fixed;
}

.het_main::before {
   content: '';
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(transparent, #121212 95%);
}

.het_main_screen {
   background: #121212;
}

.intro_title {
   color: rgb(255, 255, 255);
   position: absolute;
   z-index: 10;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: justify;
   opacity: 1;
   font-size: 5.5rem;
   font-weight: 400;
   font-family: "Noto Sans", sans-serif;
   line-height: 1.1;
}

.blink {
   color: #64ffda;
   animation-name: blink;
   /* animation-duration: 3s; */
   animation: blink 1.3s infinite;
}

.intro_line {
   width: 60px;
   background: #00ff849c;
   height: 1.5px;
   border: 0;
   position: absolute;
   top: 59%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
}

.intro_text {
   color: rgba(255, 255, 255, 0.851);
   position: absolute;
   z-index: 10;
   top: 66%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   opacity: 1;
   font-size: 1.05rem;
   font-weight: 300;
   white-space: nowrap;
   font-family: "Noto Sans KR", sans-serif;
   line-height: 1.5;
   text-shadow: 1px 1px 2px #121212;
}

.intro_text>span {
   color: #00ff849c;
}

/* 버튼 */

.intro_button {
   padding: 0;
   margin: 0;
   border: none;
   background: none;
   cursor: pointer;
   border: none;
   background: none;
   cursor: pointer;
   position: absolute;
   top: 80%;
   left: 50%;
   z-index: 10;
   transform: translate(-50%, -50%);
   font-family: "Noto Sans", sans-serif;
}

.intro_button {
   --primary-color: #ffffffd6;
   --hovered-color: #00ff849c;
   display: flex;
   font-weight: 300;
   font-size: 20px;
   gap: 0.5rem;
   align-items: center;
}

.intro_button p {
   color: var(--primary-color);
   transition: color 0.3s ease;
}

.intro_button::after {
   position: absolute;
   content: "";
   width: 0;
   left: 0;
   bottom: -7px;
   background: var(--hovered-color);
   height: 2px;
   transition: 0.3s ease-out;
}

.intro_button p::before {
   position: absolute;
   /*   box-sizing: border-box; */
   content: "Learn more";
   width: 0%;
   inset: 0;
   color: var(--hovered-color);
   overflow: hidden;
   transition: 0.3s ease-out;
}

.intro_button:hover::after {
   width: 100%;
}

.intro_button:hover p {
   color: var(--hovered-color);
}

.intro_button:hover svg {
   transform: translateX(4px);
   color: var(--hovered-color);
}

.intro_button svg {
   color: var(--primary-color);
   transition: 0.2s;
   position: relative;
   width: 18px;
   transition-delay: 0.2s;
}

/* contents 1 */

.het_content1 {
   width: 100%;
   padding: 100px 0;
}

#about_title {
   display: flex;
   justify-content: center;
   margin: 0 0 30px 0;
}

#about_title>h3 {
   width: 200px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.808);
   font-size: 25px;
   font-family: "Noto Sans", sans-serif;
   font-weight: 300;
   text-align: center;
   line-height: 40px;
}

#about_title>h3>a {
   color: rgba(255, 255, 255, 0.808);
   text-decoration: none;
}

#about_title>h3:hover {
   border-bottom: 1px solid #00ff849c;
}

#about_title>h3>a:hover {
   color: #00ff849c;
}

.about_more {
   cursor: pointer;
}

.about_full_text {
   display: none; /* 처음에는 숨김 */
   color: rgba(255, 255, 255, 0.8);
   margin-top: 20px;
   line-height: 1.6;
}

.about {
   height: 100%;
   display: flex;
   justify-content: center;
   gap: 30px;
}

.about_img {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: rgba(255, 255, 255, 0.808);
   /* margin: 30px 0 0 0; */
   padding: 0 10px 0 10px;
   font-weight: 300;
   /* background-color: #6b6b6b80; */
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
}

.about_img>img {
   height: 40%;
   margin-bottom: 30px;
   position: relative;
   border: 1px solid #121212;
   border-radius: 10%;
   opacity: 0.8;
}

.about_line1 {
   width: 50px;
   background: rgba(255, 255, 255, 0.808);
   height: 1px;
   border: 0;
   margin: 0 0 20px 0;
}

.about_detail {
   display: flex;
   flex-direction: column;
   margin: 70px 0 0 0;
   width: 600px;
   text-align: justify;
   font-weight: 200;
   /* background-color: #292929; */
   padding: 0 10px 0 10px;
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
   /* font-family: "Noto Sans KR", sans-serif; */
}

.about_detail_box>h3 {
   width: 200px;
   margin: 0 0 10px 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.808);
   color: rgba(255, 255, 255, 0.808);
   line-height: 40px;
}

.about_detail_box>p {
   margin: 0 0 0 0;
   color: rgba(255, 255, 255, 0.701);
   line-height: 2;
}

.about_detail_box>p>span {
   font-size: 1.1rem;
   color: #00ff849c;
}

.about_detail_box>.about_more{
   margin: 30px 0 0 0;
   color: #00ff849c;
}

.detail_line {
   width: 100%;
   background: rgba(255, 255, 255, 0.708);
   height: 1px;
   border: 0;
   margin: 20px 0 20px 0;
}

/* content2 */

.het_content2 {
   width: 100%;
   margin: 0 0 50px 0;
}

#skills_title {
   display: flex;
   justify-content: center;
   margin: 0 0 50px 0;
}

#skills_title>h3 {
   width: 200px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.808);
   font-size: 25px;
   font-family: "Noto Sans", sans-serif;
   font-weight: 300;
   text-align: center;
   line-height: 40px;
}

#skills_title>h3>a {
   color: rgba(255, 255, 255, 0.959);
   text-decoration: none;
}

#skills_title>h3:hover {
   border-bottom: 1px solid #00ff849c;
}

#skills_title>h3>a:hover {
   color: #00ff849c;
}

.and {
   color: #00ff849c;
}

.skills_content {
   width: 100%;
   height: 750px;
   display: flex;
   justify-content: center;
   gap: 9rem;
   padding: 100px;
   position: relative;
   background-image: url(./img/skillBack.jpg);
   /* background-position: center; */
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.skills_content::before {
   content: '';
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#121212, transparent, #121212 100%);
}

.skills {
   text-align: left;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.skills>h4 {
   color: rgba(255, 255, 255, 0.801);
   font-family: "Noto Sans", sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   text-align: center;
   z-index: 10;
}

.skills>div {
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(255, 255, 255, 0.801);
   gap: 18px;
   z-index: 10;
}

.skills>div>img {
   width: 50px;
   height: 50px;
   object-fit: contain;
   z-index: 10;
}

.tools {
   text-align: left;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
}

.tools>h4 {
   color: rgba(255, 255, 255, 0.801);
   font-family: "Noto Sans", sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   text-align: center;
   z-index: 10;
}

.tools>div {
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(255, 255, 255, 0.801);
   gap: 18px;
   z-index: 10;
}

.tools>div>img {
   width: 50px;
   height: 50px;
   object-fit: contain;
   z-index: 10;
}

/* content3 */

.het_content3 {
   width: 100%;
   margin: 0 0 100px 0;
}

#awards_title {
   display: flex;
   justify-content: center;
   margin: 0 0 50px 0;
}

#awards_title>h3 {
   width: 200px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.808);
   font-size: 25px;
   font-family: "Noto Sans", sans-serif;
   font-weight: 300;
   text-align: center;
   line-height: 40px;
}

#awards_title>h3>a {
   color: rgba(255, 255, 255, 0.959);
   text-decoration: none;
}

#awards_title>h3:hover {
   border-bottom: 1px solid #00ff849c;
}

#awards_title>h3>a:hover {
   color: #00ff849c;
}

.awards_content {
   height: 100%;
}

.awards_frame {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   background-color: #2e2e2e;
   padding: 20px;
   border-radius: 20px;
}

.awards_content>.awards_list {
   position: relative;
   padding: 5rem 0;
}

.awards_content>.awards_bar {
   position: absolute;
   width: 1px;
   border-right: 2px solid #00ff849c;
   top: 1px;
   bottom: 0;
   left: 9.4rem;
}

.timeLine {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.timeLine>p {
   color: rgba(255, 255, 255, 0.801);
}

.timeAward {
   color: #00ff849c;
}

/* content4 */

.het_content4 {
   width: 100%;
   height: 700px;
   margin: 0 0 100px 0;
}

#project_title {
   display: flex;
   justify-content: center;
   margin: 0 0 50px 0;
}

#project_title>h3 {
   width: 200px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.808);
   font-size: 25px;
   font-family: "Noto Sans", sans-serif;
   font-weight: 300;
   text-align: center;
   line-height: 40px;
}

#project_title>h3>a {
   color: rgba(255, 255, 255, 0.959);
   text-decoration: none;
}

#project_title>h3>a {
   color: rgba(255, 255, 255, 0.959);
   text-decoration: none;
}

#project_title>h3:hover {
   border-bottom: 1px solid #00ff849c;
}

#project_title>h3>a:hover {
   color: #00ff849c;
}

.project_frame {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   background-color: #2e2e2e;
   padding: 45px;
   border-radius: 20px;
}

.pdfbox_wrap {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.pdfbox_wrap>a {
   width: calc((100% - 1.5rem) / 2);
   text-decoration: none;
}

.pdfbox_wraptxt {
   display: flex;
   flex-direction: column;
   position: relative;
   margin: 0 0 60px 0;
   gap: 7px;
}

.pdfbox_wraptxt>h4 {
   color: #00ff849c;
   font-size: 1.7rem;
}

.pdfbox_wraptxt>p {
   color: #ccc;
   font-size: 0.9rem;
}

.pdfbox {
   width: 100%;
   height: 200px;
   background-color: #505050;
   border: 0.5px solid #8d8d8d9c;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.pdfbox:hover {
   background-color: #272727;
   transition: 0.4s;
}

.pdfbox_txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pdfbox_txt>span>img {
   width: 25px;
   height: 25px;
   margin: 0 0 7px 0;
}

.pdfbox_txt>h4 {
   color: rgba(255, 255, 255, 0.959);
   font-size: 0.9rem;
}

.pdfbox_txt>p {
   color: #ccc;
   font-size: 0.8rem;
}

.project_line {
   width: 50px;
   background: #00ff849c;
   height: 5px;
   border: 0;
   border-radius: 20px;
   position: absolute;
   top: 85px;
   left: 25px;
   transform: translate(-50%, -50%);
   z-index: 10;
}

/* footer */

.het_footer {
   width: 100%;
   height: 100px;
   background-color: #141414;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer_txt {
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.footer_txt>p {
   color: #ccc;
   opacity: 0.8;   
}

.footer_txt>p:hover {
   color: #00ff849c;
}

.footer_txt>p>a {
   color: #ccc;  
   text-decoration: none; 
}

.footer_txt>p>a:hover {
   color: #00ff849c;
}